html, body {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
  padding: 20px;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  display: flex;
  justify-content: center;
  /* align-items: ; */
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

table {
  border-collapse: collapse;
  min-width: 100%;
  max-height: 100%;
}

tr:nth-child(even) {
  background-color: #eee;
}

th {
  text-align: center;
}

td {
  border: 1px solid black;
  padding: 8px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  max-width: 900px;
  max-height: 400px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 5px 5px 0 black ;
}

input[type=text], select {
  padding: 5px;
  height: 50px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
}