body {
    background: #555555 url("../images/bamboo.png") repeat;
}

header img {
    width: 178px;
    float: left;
}

header {
    background: url("../images/forest/jpg") 0px 687px;
}

header h1 {
    font-size: 3em;
    color: #f5f0e6;
    float: left;
    margin: 50px 80px 50px 112px;
    text-shadow: 4px 4px 2px #000000;
}

nav {
    background: purple;
    clear: both;
    width: 100%;
    height: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: Arial, Helvetica, sans-serif;
    border-top: 5px solid #000000;
    border: 20px solid #000000;
    padding: 30px;
    margin: 40px;
    box-sizing: border-box;
}

nav a {
    color: #F5F0E6;
    text-decoration: none;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-self: center;
    min-width: 100px;
}

nav a:hover {
    background: #A4C639;
    text-shadow: 4px 4px 2px #f47f43
}

#wrapper {
    max-width: 900px;
    min-height: 1000px;
    background: #F5F0E6;
    margin: auto;
    border: #000000;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 178px 50px 2fr 120px;
}

#content {
    grid-column: 1 / 4;
}

#ads {
    width: 250px;
    border: 3px solid #000000;
    position: fixed;
    right: 0;
    background: #f47f43;
}

#ads form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}

#ads:hover {
    right: 0px;
    transition: right .85s ease-in;
}

.col_left {
    grid-column: 1/2;
}
.col_right {
    grid-column: 2/3;
}

section {
   
    height: 300px;
}

section img {
    max-height: 100%;
}

footer {
    clear: both;
    background: url() 0px 948px;
    border-top: 3px solid #000000;
    display: grid;

}

footer li {
    list-style-type: none;
}
footer p {
    align-content: center; 
}
footer li a {
    color: #F5F0E6;
    font-size: 1.2em;
    text-decoration: none;
    min-width: 100px;
    display: flex;
    justify-content: center;
}

input, textarea, select 
main {
    display: grid;
    grid-template-columns: 1fr 1fr 150px;
}

@media {max-width: 900px} {

    #wrapper {
        display: block;
        min-height: unset;
    }

    header {
        padding: 0;
        text-align: center;
    }

    header h1 {
        font-size: 2em;
        float: none;
        margin: 0;
    }

    header img {
        position: absolute;
        top: 15px;
        left: 7px;
    }

    nav {
        display: block;
        height: unset;
    }
    
    nav a {
        width: 100%;
        justify-content: center;
        padding: 0;
    }

    main {
        display: block;
    }

}